@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100vh;
    font-family: 'JetBrains Mono', 'monospace';
  }
}

@layer utilities {
  .slider-thumb {
    width: 100%;
    height: 0.5rem;
    background-color: #a4ffaf;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .slider-thumb:focus {
    outline: 2px dashed #a4ffaf;
  }

  .slider-thumb::-webkit-slider-thumb {
    width: 1.3rem;
    height: 1.3rem;
    background-color: #e6e5ea;
    border: 2px solid transparent;
    border-radius: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s ease-in-out;
  }

  .slider-thumb::-webkit-slider-thumb:active {
    background-color: #18171f;
    border: 2px solid #a4ffaf;
    cursor: grabbing;
  }

  .slider-thumb::-moz-range-thumb {
    width: 1.3rem;
    height: 1.3rem;
    background-color: #e6e5ea;
    border: 2px solid transparent;
    border-radius: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s ease-in-out;
  }

  .slider-thumb::-moz-range-thumb:active {
    background-color: #18171f;
    border: 2px solid #a4ffaf;
    cursor: grabbing;
  }

  .slider-thumb::-ms-thumb {
    width: 1.3rem;
    height: 1.3rem;
    background-color: #e6e5ea;
    border: 2px solid transparent;
    border-radius: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s ease-in-out;
  }

  .slider-thumb::-ms-thumb:active {
    background-color: #18171f;
    border: 2px solid #a4ffaf;
    cursor: grabbing;
  }
}
